<footer class="px-4 pt-4 pb-7 mt-auto bg-primary-base w-100">
          <a href="onboarding-info.html">
            <button type="button" class="footer-btn rounded-pill w-100 py-4 animate__animated animate__fadeIn animate__delay-2s">
                <span class="h3">繼續</span>
            </button>
          </a>
      </footer>