<footer class="container mt-auto pt-4 pb-7">
          <a href="#">
            <button type="button" class="footer-btn rounded-pill w-100 py-4 avtive">
                <span class="h3">開始</span>
            </button>
          </a>
</footer>