
<nav class="fixed-bottom bg-white rounded-top-6 d-flex justify-content-around py-1 px-5 bottom-nav-safe">
  <a href="#" class="nav-link text-center p-4" data-nav="home">
    <i class="ph ph-house fs-2 nav-icon-regular align-bottom"></i>
    <img src="/assets/images/Bottom_Nav/home_active.svg" alt="home" class="nav-icon-active" />
  </a>
  <a href="#" class="nav-link text-center p-4" data-nav="task">
    <i class="ph ph-target fs-2 nav-icon-regular align-bottom"></i>
    <img src="/assets/images/Bottom_Nav/target.active.svg" alt="task" class="nav-icon-active" />
  </a>
  <a href="#" class="nav-link text-center p-4" data-nav="chat">
    <i class="ph ph-chat-teardrop-dots fs-2 nav-icon-regular align-bottom"></i>
    <img src="/assets/images/Bottom_Nav/chat-teardrop-dots-active.svg" alt="chat" class="nav-icon-active" />
  </a>
  <a href="health-trend-latest.html" class="nav-link text-center p-4 active" data-nav="trend">
    <i class="ph ph-chart-line fs-2 nav-icon-regular align-bottom"></i>
    <img src="/assets/images/Bottom_Nav/chart-line-active.svg" alt="trend" class="nav-icon-active" />
  </a>
  <a href="#" class="nav-link text-center p-4" data-nav="profile">
    <i class="ph ph-person-arms-spread fs-2 nav-icon-regular align-bottom"></i>
    <img src="/assets/images/Bottom_Nav/person-arms-spread-active.svg" alt="profile" class="nav-icon-active" />
  </a>
</nav>
