
<header class="sticky-top header-primary px-7 py-6 d-flex justify-content-between align-items-center">
  <p class="header-time">9:41</p>
  <div class="d-flex align-items-center gap-2">
    <img src="../assets/images/onboarding/Mobile Signal.svg" alt="Mobile Signal" />
    <img src="../assets/images/onboarding/Wifi.svg" alt="Wifi" />
    <img src="../assets/images/_StatusBar-battery.svg" alt="StatusBar-battery" />
  </div>
</header>

