<header class="px-7 py-6 d-flex justify-content-between align-items-center bg-primary-base">
    <p class="header-time">9:41</p>
    <div class="d-flex align-items-center gap-2">
      <img src="../assets/images/onboarding區/Mobile Signal.svg" alt="Mobile Signal">
      <img src="../assets/images/onboarding區/Wifi.svg" alt="Wifi">
      <img src="../assets/images/onboarding區/_StatusBar-battery.png" alt="StatusBar-battery">
    </div>
</header>