.footer-btn{
    color: $white;
    background-color: $accent-400;
    border: none;
    outline: none;
    box-shadow: none;
}
<<<<<<< HEAD
.arrow-prev-btn{
    width: 32px;
    height: 32px;
    padding: 7px;
=======

.help-btn {
    border: none;
    background: transparent;
>>>>>>> e1a2f03625ff783b425f25084697171773cb68d6
}