.footer-btn{
    color: $white;
    background-color: $accent-400;
    border: none;
    outline: none;
    box-shadow: none;
}

.arrow-prev-btn{
    width: 32px;
    height: 32px;
    padding: 7px;
}

.help-btn {
    border: none;
    background: transparent;

}