
.wrap{
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
}

.circle-container {
  position: relative;
  max-width: 100%;
  height: 947px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 947px;
  height: 947px;
}

.circle1 {
  top: calc(22.889% - 142px); 
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle2 {
  top:  calc(19.967% - 142px); 
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle3 {
  top: calc(17.857% - 142px); 
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle4{
  top: calc(16.883% - 142px);
  left: 50%;
  transform: translate(-50%, -50%);
}
