.avatar-img{
    width: 86px;
    height: 86px;
}

.iconPen2{
    width: 24px;
    height: 24px;
    right: 0;
    bottom: 0;
}

.iconPen1{
    width: 34px;
    height: 34px;
}

.arrowRight_20{
    width: 20px;
    height: 20px;
}

.position-icon-person{
    top: 50%;
    left: 12px;
    transform: translate(0 , -50%);
}

.position-arrowRight{
    top: 50%;
    right: 12px;
    transform: translate(0 , -50%);
}

