.mb-131{
    margin-bottom: 131px;
}

.goal-select{
    background-color: $white;
}

a.btn.goal-select:active{
    background-color: $primary-100;
    border: 2px solid $primary-800;
}

.bottom-big-head-coach2{
    width: 419px;
    height: 230px;
    object-fit: cover;
    object-position: top;
}


