<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <title>健康趨勢-首頁(最新)</title>
  </head>
  <body class="bg-primary-base">
    <%- include('./layout/header'); -%>
    <main class="container top-safe bottom-safe">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="fs-2">健康趨勢</h1>
        <button type="button" class="help-btn">
          <img src="../assets/images/icon/analyze/help_Button.svg" alt="幫助" />
        </button>
      </div>
      <nav class="filter-nav rounded-pill bg-white p-2 mb-5">
        <ul class="nav nav-pills d-flex">
          <li class="nav-item flex-fill">
            <a class="nav-link rounded-pill active px-5 py-2 w-100 text-center" href="#" data-filter="latest">最新</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link rounded-pill px-5 py-2 w-100 text-center" href="#" data-filter="week">本週</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link rounded-pill px-5 py-2 w-100 text-center" href="#" data-filter="month">本月</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link rounded-pill px-5 py-2 w-100 text-center" href="#" data-filter="quarter">3個月</a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link rounded-pill px-5 py-2 w-100 text-center" href="#" data-filter="all">全部</a>
          </li>
        </ul>
      </nav>
      <div class="d-flex align-items-center justify-content-end mb-2">
        <i class="ph ph-pencil-simple text-primary-900 me-2"></i>
        <p class="text-primary-900">編輯</p>
      </div>
      <!-- 數據卡片區 -->
      <div class="row g-4 mb-5">
        <!-- 體重 -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">體重</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley-sad fs-3"></i>
                  <span class="fs-8 px-1 color-danger lh-lg">偏高</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">57.4</span>
                <span class="small fw-medium ms-3">kg</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 體脂肪 -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">體脂肪</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley-sad fs-3"></i>
                  <span class="fs-8 px-1 color-danger">偏高</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">32</span>
                <span class="small fw-medium ms-3">%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 內臟脂肪 -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">內臟脂肪</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley-sad fs-3"></i>
                  <span class="fs-8 px-1 color-danger">偏高</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">6</span>
              </div>
            </div>
          </div>
        </div>
        <!-- BMI -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">BMI</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley-sad fs-3"></i>
                  <span class="fs-8 px-1 color-danger">偏高</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">32</span>
                <span class="small fw-medium ms-3">%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 骨骼機率 -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">骨骼機率</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley fs-3"></i>
                  <span class="fs-8 px-1 color-success">標準</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">26.3</span>
                <span class="small fw-medium ms-3">%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 基礎代謝 -->
        <div class="col-6">
          <div class="card border-0 rounded-4">
            <div class="card-body py-3 px-4">
              <div class="d-flex justify-content-between">
                <span class="fw-medium">基礎代謝</span>
                <div class="d-flex align-items-center">
                  <i class="ph ph-smiley fs-3"></i>
                  <span class="fs-8 px-1 color-success">標準</span>
                </div>
              </div>
              <div class="mt-2 lh-sm">
                <span class="fs-2 fw-bold lh-sm">1112</span>
                <span class="small fw-medium ms-3">Kcal</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 教練提醒區 -->
      <div class="mb-7">
        <!-- 上方插圖 -->
        <div class="text-center">
          <img src="../assets/images/draw_potatoCoach/coach8@3x.png" alt="教練圖示" class="img-fluid coach8" />
        </div>
        <!-- 下方內容 -->
        <div class="card border-0 rounded-4">
          <div class="card-body p-5">
            <!-- 健康結語區塊 -->
            <div class="bg-accent-400-20 rounded-4 p-4 mb-4">
              <div class="d-flex align-items-center">
                <i class="ph ph-hand-heart text-accent-400 me-2 fs-2"></i>
                <h2 class="text-accent-400 fs-5 mb-0">健康結語</h2>
              </div>
              <p>本週體脂肪率偏高，基礎代謝下降，但均勻體正常範圍。</p>
            </div>
            <!-- Coach 小提醒區塊 -->
            <div class="bg-primary-base rounded-4 p-4">
              <div class="d-flex align-items-center">
                <i class="ph ph-megaphone text-primary me-2 fs-2"></i>
                <h2 class="text-primary fs-5 mb-0">Coach 小提醒</h2>
              </div>
              <p>保持規律的運動習慣，如有氧 + 力量訓練，持續努力就會看見成果呦！</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
  </body>
  <script type="module" src="../main.js"></script>
</html>
